*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::before, *::after{
    padding: 0;
    margin: 0;
  }

:root {

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
}

.playerWrapper {
    width: 380px;
    overflow: hidden;
    position: relative;
    background-color: #1b1b1b;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(31, 30, 30, 0.158);
}

.top-bar {
    color: white;
    padding: 25px 30px 0px 30px;
    cursor: pointer;
}

.img-area {
    height: 256px;
    width: 100%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.411);
}

.img-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details, .progress-area {
    color: white;
    margin: 0px 30px 0px 30px;
}

.song-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.song-details .name {
    padding-bottom: 5px;
}

.progress-area {
    margin-top: 30px;
    height: 6px;
    background: rgb(100, 100, 100);
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 50%;
    position: relative;
    border-radius: inherit;
    background: white;
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background: white;
    border-radius: inherit;
    top: -50%;
    right: -5px;
}

.progress-area .timer {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6em;
    margin: 40px 30px 5px 30px;
}

.controls i {
    cursor: pointer;
    user-select: none;
    font-size: 28px;
}

.controls .play-pause i {
    font-size: 43px;
}

.controls #prev {
    margin-top: -8px;
    margin-right: 10px;
    margin-left: auto;
}

.controls #next {
    margin-top: -8px;
    margin-left: 10px;
}

.controls #queue-music {
    margin-left: 74px;
    margin-top: -8px;
}

.music-list {
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgb(17, 17, 17);
    background-color: #1b1b1b;
    color: white;
    transition: all 0.14s ease-out;
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.music-list .header, .music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-list #close {
    cursor: pointer;
}

.music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(80, 80, 80);
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 18px;
}

ul li .row p {
    opacity: 0.8;
}

ul li.playing {
    color: rgb(158, 158, 238);
    pointer-events: none;
}